body {
    margin: 0; 
}

.section-zero {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
}

li {
    font-size: 18px;
    color: #68696b;
}

.header-logo {
    margin: 4px;
    color: #f9faf8;
    font-size: 24px;
    padding-top: 12px;
}

.section-zero-one {
    background-color: #1f2937;
    padding: 0 300px 0;
}

.container-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-one {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 100px;
}

#dolphin {
    width: 700px;
    height: auto;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

p {
    font-size: 18px;
    color: #68696b;
}

.button-one {
    display: flex;
    justify-content: center;
    padding: 8px;
    width: 120px;
    border-radius: 10px;
    background-color: #3882f6;
    border-color: transparent;
    color: #f9faf8;
    font-weight: 900;
    font-size: 16px;
}

.container-one {
    width: 550px;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    border: #3882f6;
}

.section-two {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-bottom: 100px;
}

h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding-top: 100px;
}

.text {
    color: #68696b;
    display: flex;
    justify-content: center;
}

.quote {
    background-color: #68696b;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-1, .quote-2 {
    display: flex;
    width: 600px;
    font-size: 36px;
    font-style: italic;
    color: #f9faf8
}

.quote-2 {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
}

.container {
    margin: 0;
    padding: 10px 500px;
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 100px;
    background-color: #3882f6;
    border-radius: 20px;
}

.sub-container {
    display: flex;
    gap: 100px;
}

.header-banner {
    margin-right: 424px;
    font-weight: 900;
    color: #f9faf8
    
}

.button-two {
    padding: 10px;
    width: 80px;
    border-radius: 10px;
    background-color: #3882f6;
    border-color: #f9faf8;
    color: #f9faf8;
    font-weight: 900;
}

.header-text {
    color: #f9faf8
}

.footer {
    display: flex;
    background-color: #1f2937;
    padding: 25px;
    justify-content: center;
    color: #f9faf8;
}